:root{
    --branco-principal: #FFFFFF;
    --cinza-secundario: #F9F9F9;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C ;
    --cor-copyright:#C0C0C0;

    --fonte-principal:"inter"}
    
    *{margin: 0;
    padding: 0;}

    body{
        background-color: var(--cor-de-fundo);
        color: var(--branco-principal);
        font-family: var(--fonte-principal);
        font-size: 16px;
        font-weight: 400;}

    .principal{ 
    background-image:url(imagens/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;}

    .container{height:100vh;
    display: grid;
    grid-template-columns:50% 50%;}

    .container__botao{
    background-color: var(--botao-azul);
    text-decoration: none;
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 8px;
    display: block;
    margin-bottom: 1em;}

    .botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);}
    
    .container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);}

    .container__titulo{
    font-size: 28px;
    font-weight: 700;}

    .container__imagem{
    margin: 1em 0 2em 0;}

    .container__caixa{
    margin: 0 6em;}

    .secundario{
    align-items: center;
    margin: 0 10em;}

    .secundario__imagem{
    width: 80%;}

    .descricao__titulo{
    font-size: 3em;
    color: var(--branco-principal);
    margin-bottom: 0.2em;
    font-weight: 700;}

    descricao__texto{
    color: var(--cinza-secundario);}

    .secundario__botao{
    display: inline-block;
    margin-top: 1em;}

    .container__descricao{ 
    padding: 2em;}

    .dispositivos{
    text-align: center;}
    
    .dispositivos__lista{ 
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;}

    .dispositivos__titulo{
    font-weight: 700;
    font-size: 3em;
    font-family: var(--branco-principal);}

    .rodape{text-align: center;
    margin: 0 3em;}
    
    .rodape__logo{
    margin-bottom: 2em;}
    
    .lista__item{
    font-weight: 700;
    font-size: 2em;
    font-family: var(--branco-principal);}
    
    .rodape__lista{ display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    margin: 1.5em;}

    .rodape__link a{
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1em;}

    .rodape__texto{ 
    font-size: 0.8em;
    margin: 1.5em;
    color: var(--cor-copyright);}

    .rodape__link a:hover{
        color: var(--botao-azul);
        transition: 1s;}

    .container__botao:hover{
        background-color: var(--cor-copyright);
        color: var(--cor-de-fundo);
        transition: 1s;}

        @media screen and (max-width: 768px) {
            .container{display: block;
            background-image: none;}

            .container__imagem{
                width: 50vw;}

            .container__caixa{
                margin: 2em 2em;}

            .secundario{
                margin: 0;
            text-align: center;}

            .secundario__imagem{
                width: 50vw;}

            .dispositivos__lista{
            flex-direction: column;}

            .rodape__lista{
                flex-direction: column;
            }
            
        }
    
    
